<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path("homepage_index") }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-sms"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Osobný adresár</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if app.request.get('_route') starts with 'homepage_' %}active{% endif %}">
        <a class="nav-link" href="{{ path('homepage_index') }}">
            <i class="far fa-comments"></i>
            <span>Domov</span>
        </a>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if app.request.get('_route') starts with 'persons_' %}active{% endif %}">
        <a class="nav-link" href="{{ path('persons_list_index') }}">
            <i class="far fa-comments"></i>
            <span>Osoby</span>
        </a>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if app.request.get('_route') starts with 'meeting_' %}active{% endif %}">
        <a class="nav-link" href="{{ path('homepage_index') }}">
            <i class="far fa-comments"></i>
            <span>Setkání</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">



    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>